@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#root{
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4e69;
}

.container{
  background-color: #edddd4;
  width: 60%; 
  height: 70%;
  border-radius: 20px;
}

header{
  /* position: sticky;
  top: 0;                     for sticky navbar */
  width: 100%;
  background-color: #197278;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.add-note-field{
  display: flex;
  justify-content: center;
}

.filter-field{ 
  margin-left: 30px;
  margin-right: 30px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #4a4e69;
  margin-top: 20px;
}

.filter-texts{
  display: flex;
}

.filter-texts p{
  margin-right: 10px;
}

.add-note-field{
  padding: 10px ; 
}

.note-section{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #4a4e69;
  margin-left: 20px;
  margin-right: 20px;
}

.pagination-field{
  height: 60px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-text{
  color: #4a4e69;
}

.btn{
  border-radius: 10px;
  padding: 10px;
  border: 0;
  color: #fff;
  font-family: inherit;
}

.btn:hover{
  opacity: 0.8;
  border: 1px solid #fff;
}

.add-btn{
  background-color: #a7c957;
}

.remove-btn{
  background-color: crimson;
  padding: 4px 7px;
}
.edit-btn{
  background-color: #219ebc;
  padding: 4px 6px;
  margin-right: 5px;
  
}

.remove-all-btn{
  background-color: crimson;
  padding: 8px;
  margin-left: 10px;
}

.pagination-btn{
  background-color: #fff;
  color: #4a4e69;
  border: 1px solid #4a4e69;
  border-radius: 10px;
  padding: 7px 10px ;
  font-family: inherit;
  margin-right: 10px;
  font-size: .75rem; 
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.done{
  text-decoration: line-through;
  
}

input{
  font-family: inherit;
  width: 90%;
  border: 0;
  border-radius: 10px;
  padding-left: 5px;
}

input:focus{
  outline: none;
}

.checkbox{
  width: 20px;
  height: 20px;
  margin-right:10px ;
}

.active{
  background-color: #4a4e69;
  color: #fff;
}

@media only screen and (max-width: 600px) {

  .container{
    width: 85%;
    height: 72%;
  
  }

  .pagination-field,.filter-field{

    margin-left: 10px;
    margin-right: 10px;
  }

  .note-section{
    margin-left: 0;
    margin-right: 0;
  }
}

